<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cclown98.bubblebackground">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>

        <service android:name="com.cclown98.bubblebackground.BubblesService"
                 android:enabled="true"
                 android:exported="false"/>
    </application>

</manifest>
